<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ASL Fingerspelling Game</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> --}}
</head>

<body>
  <header>
    <h1>Finger spelling game</h1>
  </header>
  <nav>
    <a href="/">Home</a>
  </nav>
  <main>
    <aside>
      <h2>Finger</h2>
    </aside>
    <div class="">
      {{{body}}}
    </div>
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{!-- {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
</body>

</html>