<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ASL Fingerspelling Game</title>

  {{!-- Style Reset --}}
  <link rel="stylesheet" type="text/css" href="/css/jade.css">
  {{!-- Gets complied from tailwind css --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  {{!-- Cdb tailwind for now in dev stage --}}
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col h-screen bg-neutral-900">
  <header class="flex justify-between p-5">
    {{!-- <h1 class="text-slate-200">Finger Spell</h1> --}}
    <a href="/"><img class="max-w-[100%] w-[180px]" src="/image/fingerspell-logo.svg" alt="The Finger Spell Game"></a>
    <nav class="text-slate-200 flex items-center gap-3">
      <a href="/start">Play</a>
      <a href="/">Login</a>
      <a href="/">Highscore</a>
    </nav>
  </header>

  <main class="p-5 grow bg-neutral-800 flex justify-center items-center">
      {{{body}}}
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{!-- {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
  <footer class="mt-auto p-5 text-center">
    <p class="text-white">Project by Yaro , John, Fabien</p>
  </footer>
</body>

</html>