<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ASL Fingerspelling Game</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> --}}
  {{!-- Cdb tailwind for now --}}
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col vh-100 bg-slate-900 ">
  <header class="d-flex justify-between">
    <h1 class="text-red-700">Finger spelling game</h1>
    <nav class="text-white flex gap-3">
      <a href="/">Home</a>
      <a href="/">Login</a>
      <a href="/">Highscore</a>
    </nav>
  </header>

  <main>
    <div class="">
      {{{body}}}
    </div>
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{!-- {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
</body>

</html>