<!DOCTYPE html>

 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ASL Fingerspelling Game</title>

  {{!-- Style Reset --}}
  <link rel="stylesheet" type="text/css" href="/css/jade.css">

  {{!-- Cdb tailwind for now in dev stage --}}
  {{!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> --}}
  {{!-- Cdb tailwind for now --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col h-screen bg-neutral-800">
  <header class="flex flex-col md:flex-row justify-center items-center  md:justify-between p-5">
    <h1 class="text-slate-200 mb-4 md:mb-0">
      <a href="/"><img class="max-w-[100%] w-[180px]" src="/image/finger-spell-logo.svg" alt="The Finger Spell Game"></a>
    </h1>
    <nav class="text-slate-200 flex items-center gap-3">
      <a href="/start">Play</a>
      <a href="/ranks">Ranking</a>

      {{#if loggedIn}}
        <a href="/profile">Profile</a>
        <a href="/api/users/logout">Logout</a>
      {{else}}
        <a href="/api/users/login">Login</a>
        <a href="/api/users/create">Signup</a>
      {{/if}}

    </nav>
  </header>

  <main class="p-5 grow flex justify-center items-center">
      {{{body}}}
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
   {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <footer class="mt-auto p-5 text-center">
    <p class="text-white">Project by Yaro , John, Fabien</p>
  </footer>
</body>

</html>
