
<section class="flex flex-col text-white text-center">
  {{#if loggedIn}}
    <h2 class="text-4xl font-semibold text-pink-600">
    WELCOME {{{user.username}}}!</h2>

  {{else}}
    <h2 class="text-4xl font-semibold text-pink-600">
{{!-- <img class="max-w-[100%] w-[120px]" src="/image/finger-spell-logo.svg" alt="The Finger Spell Game"> --}}
      Welcome to Finger Spelling Game</h2>
  {{/if}}

  <a class="btn bg-pink-500 text-white mt-3" href="/start">
    <p>Are you ready to play?</p>
  </a>
</section>
