
<section class="flex flex-col text-white text-center">
  {{#if loggedIn}}
    <h2 class="text-purple-300 mb-3 text-3xl font-extrabold">
    WELCOME <span class="uppercase"> {{{user.username}}}!</span></h2>

  {{else}}
    <h2 class="text-purple-200 mb-3 text-3xl font-extrabold">
{{!-- <img class="max-w-[100%] w-[120px]" src="/image/finger-spell-logo.svg" alt="The Finger Spell Game"> --}}
      Welcome to Finger Spelling Game</h2>
  {{/if}}

  <h5 class="mb-2">Are you ready to play?</h5>
  <div class="flex gap-5">
    <a class="btn text-neutral-800 bg-green-400 font-['Tilt_Warp'] mt-3" href="/start">
      <p>LEVEL 1</p>
    </a>
    <a class="btn text-neutral-800 bg-green-900 font-['Tilt_Warp'] mt-3 pointer-events-none" href="/start">
      <p>LEVEL 2</p>
    </a>
    <a class="btn text-neutral-800 bg-green-900 font-['Tilt_Warp'] mt-3 pointer-events-none" href="/start">
      <p>LEVEL 3</p>
    </a>
  </div>
</section>
