 <h2 id="error" style="color: white;"></h2>
 
 <form id="loginbtn">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="username" id="form2Example1" class="form-control"/>
    <label class="form-label" style="color: white;" for="form2Example1">Username</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control"/>
    <label class="form-label" style="color: white;" for="form2Example2">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center"></div>

  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>

</form> 

<script src="/js/login.js"></script>
