<section class="flex flex-col w-11/12 lg:10/12">
  <div class="text-center">
    <h1 class="p-4 text-pink-500 inline-block mb-3 text-3xl font-extrabold">User Profile</h1>
  </div>
  <div class="col-span-full bg-sky-500/[.06] p-3 rounded-lg text-white">
    <div class="grid grid-cols-3 gap-4">
      <div class="p-4 rounded-lg shadow-lg">
        <p>User id{{id}}</p>
        <p>Username {{username}} </p>
        <p>User Level {{level}}</p>
        {{#each results as |result|}}
        <p>Total Points
          {{result.points}}
        </p>
        {{/each}}
      </div>
    </div>
  </div>
</section>