<section class="flex flex-col w-11/12 lg:10/12">
  <div class="text-center">
    <h1
      class="px-4 py-2 bg-purple-300 text-purple-600 inline-block mb-3 text-3xl font-extrabold before:absolute before:bg-purple-600 relative h1-bg-style">
      RANKING</h1>
  </div>
  <div class="col-span-full bg-sky-500/[.06] p-3 rounded-lg text-white">
    <div class="grid grid-cols-3 gap-4">
      {{#each users as |user|}}
        {{> rank-details}}
      {{/each}}
    </div>
  </div>
</section>




