<section class="flex flex-col w-11/12 lg:10/12">
  <div class="text-center">
      <h1 class="p-4 text-pink-500 inline-block mb-3 text-3xl font-extrabold">Ranking</h1>
  </div>
  <div class="col-span-full bg-sky-500/[.06] p-3 rounded-lg text-white">
    <div class="grid grid-cols-3 gap-4">
      <div class="p-4 rounded-lg shadow-lg bg-pink-500">01</div>
      <div class="p-4 rounded-lg shadow-lg bg-pink-500">02</div>
      <div class="p-4 rounded-lg shadow-lg bg-pink-500">03</div>
    </div>
  </div>
</section>

<script src="/js/start.js"></script>