<section class="flex flex-col text-white bg-sky-500/[.06] p-10 rounded-lg">
  <div class="main-game mb-3">
      <div class="level"><h2>Level 1</h2></div>
      <div class="question-frame">

      </div>
      <div class="flex justify-between">
        <div class="timer">Time Left: 5</div>
        <div class="input">User Input</div>
      </div>
  </div>
  <div class="rank grid grid-rows-1 grid-flow-col gap-4">
    <div class="p-4 rounded-lg shadow-lg bg-pink-500">01</div>
    <div class="p-4 rounded-lg shadow-lg bg-pink-500">02</div>
    <div class="p-4 rounded-lg shadow-lg bg-pink-500">03</div>
  </div>
</section>
