<section class="flex flex-col w-11/12 lg:w-10/12 text-white">
  <div class="user-info mb-8">

    {{#if loggedIn}}
      <h1>Have Fun <span class="uppercase">{{ username }}</span></h1>
      <p>Level {{ level }}</p>
      <p>Total player points:</p>
        {{#each results as |result|}}
        <p>Total Points
          {{result.total_points}}
        </p>
        {{/each}}
    {{/if}}
  </div>

  <div class="main-game mb-4 w-full bg-sky-500/[.06] p-10 rounded-lg">
    <div class="question-frame grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
      <img id="image-0" src="" alt="letter 0">
      <img id="image-1" src="" alt="letter 1">
      <img id="image-2" src="" alt="letter 2">
      <img id="image-3" src="" alt="letter 3">
    </div>
    <div id="feedback"></div>

    <div class="flex flex-col justify-between">
      <div id="level-display"></div>
      <div>POINTS<span id="points-display"></span></div>
      {{!-- <div class="timer">Time Left: 5</div> --}}
      <form id="game-form" class="text-black">
        <label for="input" class="text-white">User Input:</label>
        <input type="text" id="answer-input" class="answer" name="answer">
        <button type="submit" class="btn bg-pink-500">Submit</button>

      </form>
    </div>

  </div>
</section>

<script src="/js/start.js"></script>

